<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd
       ">


<bean id="worker1" class="com.edutilos.main1.Worker">
    <property name="id" value="1" />
    <property name="name" value="foo" />
    <property name="age" value="10" />
    <property name="wage" value="100.0" />
</bean>

<bean id="worker2" class="com.edutilos.main1.Worker">
    <constructor-arg name="id" value="2" />
    <constructor-arg name="name" value="bar" />
    <constructor-arg name="age" value="20" />
    <constructor-arg name="wage" value="200.0" />
</bean>



    <bean class="com.edutilos.main1.MyBeanPostProcessor" />
    <context:annotation-config />
</beans>