<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringApplication1:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringApplication1_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringApplication1/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringApplication1" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.7.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.7.RELEASE" />
          <element id="library" level="project" name="aspectjweaver" />
          <element id="library" level="project" name="mysql-connector-java-6.0.5" />
          <element id="library" level="project" name="jstl-1.2" />
        </element>
      </element>
    </root>
  </artifact>
</component>